<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<span>亲爱的</span><span><%=user.username%></span> <br>
您需支付<>



    <script>


</script>
</body>
</html>